

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border: 0px solid rgba(35, 71, 217, 0.71);
  border-radius: 10px;
  background-color: rgb(222, 242, 239); 
  transition: box-shadow 300ms ease-out;
  font: normal lighter 17px/1 "proxima-nova";
  letter-spacing: 1px;
  color: black;
  padding: 8px;
  font-weight: 300;

}
.btn-4 {
  border: 0px solid rgba(35, 71, 217, 0.71);
  border-radius: 10px;
  background-color: rgb(222, 242, 239); 
  transition: box-shadow 300ms ease-out;
  font: normal lighter 17px/1 "proxima-nova";
  letter-spacing: 1px;
  color: black;
  padding: 8px;
  font-weight: 300;
  height: 40px;
  width: 80px;

}
.btn-2 {
  border: 0px solid rgba(35, 71, 217, 0.71);
  border-radius: 10px;
  background-color: rgb(222, 242, 239); 
  transition: box-shadow 300ms ease-out;
  font: normal lighter 17px/1 "proxima-nova";
  letter-spacing: 1px;
  color: black;
  padding: 8px;
  font-weight: 300;
  margin-top: 10px;
}

.btn-3 {
  border: 0px solid rgba(35, 71, 217, 0.71);
  border-radius: 10px;
  background-color: rgb(222, 242, 239); 
  transition: box-shadow 300ms ease-out;
  font: normal lighter 17px/1 "proxima-nova";
  letter-spacing: 1px;
  color: black;
  padding: 8px;
  font-weight: 300;
  height: 40px;
  width: 80px;

}


.btn:hover {
  box-shadow: 3px 3px 0px 0px rgb(17, 146, 216);
  background-color:rgb(218, 176, 113);
   transition: 200ms; 
}

.btn-4:hover {
  box-shadow: 2px 2px 0px 0px rgb(17, 146, 216);
  background-color:rgb(218, 176, 113);
   transition: 200ms; 
}

.btn-2:hover {
  box-shadow: 2px 2px 0px 0px rgb(17, 146, 216);
  /* background-color:rgb(230, 188, 125); */
   transition: 100ms; 
}
.btn-3:hover {
  box-shadow: 2px 2px 0px 0px rgb(17, 146, 216);
  background-color:rgb(218, 176, 113);
   transition: 100ms; 
}

/* .blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
} */


.form {
  margin: 60px auto;
  width: 1080px;
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.562), 0 7px 20px 0 rgba(0, 0, 0, 0.605);
  position: relative;
  border-radius: 20px;
  height: 610px;
  padding: 20px;
  z-index: 10;
}

.rightimg {
  border-radius: 10px;
}

.main-page {
  background-image: url("./bg-2.jpeg") ;
  background-repeat: no-repeat;
  background-size: 1500px;
}

