

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border: 0px solid rgba(35, 71, 217, 0.71);
  border-radius: 10px;
  background-color: rgba(171, 215, 230, 0.758); 
  transition: box-shadow 300ms ease-out;
  font: normal lighter 17px/1 "proxima-nova";
  letter-spacing: 1px;
  color: black;
  padding: 8px;
}


.btn:hover {
  box-shadow: 3px 3px 0px 0px rgb(17, 146, 216);
  background-color:gainsboro;
   transition: 500ms; 
}


